.header{
  background: #008688;
  height: 60px;
}
.userMenu {
  background: #008688;
  border: 0px;
  color: white;
  font-size: 24px;
  outline: 0px;
  box-shadow: none;
  margin: auto;
}
.header-drawer{
  padding-right: 10px;
  margin: 5px;
  box-sizing: border-box;
  color: white;
}
.userMenu:hover,
.userMenu:active,
.userMenu:focus {
  background: #008688 !important;
  color: white !important;
  box-shadow: none !important;
}
.userBell {
  background: #008688;
  border: 0px;
  color: white;
  font-size: 24px;
  outline: 0px;
  box-shadow: none;
  margin: auto;
  padding-right: 16px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .userBell {
    margin: unset;
    background: unset;
  }
  .navbar-collapse{
    margin: -4px -16px 0 -16px;
    
    
    padding: 10px;
    background: #008688;
  }
  .navbar-brand h2{
  
    font-size: 23px;
    line-height: 36px;
  }
}


