#app-container {
  display: flex;
}
#header {
  position: sticky;
  top: 0px;
}

#sidebar {
  display: block;
  width: 240px;
}

#main-contain {
  background-color: rgb(255, 255, 255);
  width: calc(100% - 240px);
}
@media only screen and (max-width: 767px) {
  #sidebar {
    display: block;
    width: 50px;
  }
  #main-contain {
    background-color: rgb(255, 255, 255);
    width: calc(100% - 50px);
    overflow: scroll;
  }
}
