#app-container {
  display: flex;
}
#header {
  position: sticky;
  top: 0px;
  z-index: 1;
}
#sidebar {
  display: block;
  width: 240px;
}

#main-contain {
  background-color: rgb(255, 255, 255);
  width: calc(100% - 240px);
  overflow: scroll;
}
@media only screen and (max-width: 767px) {
<<<<<<< HEAD
    #sidebar { 
        display: block;
        width: 50px;
    }
    }
=======
  #sidebar {
    width: 50px;
  }
  #main-contain {
    width: calc(100% - 50px);
    overflow: scroll;
  }
}
>>>>>>> 8e1128976ee45c323e015885cde0f6a9aab43006
